################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/node_modules
/bin
/**/*.js
!/src/frontend/systemjs.config.js
/typings/globals
/typings/typings
/npm-debug.log
