@font-face
  font-family: retro-computer
  src: url("whitrabt.woff2") format("woff2")
  src: url("whitrabt.woff") format("woff")
  font-style: normal
nav
  border-width: 10px
  border-style: solid
  font-family: retro-computer
